<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <script src="/jquery/dist/jquery.js" type="text/javascript"></script>
  <script src="https://rawgit.com/kottenator/jquery-circle-progress/1.2.1/dist/circle-progress.js"></script>

<style>
* {padding: 0; margin: 0;}
#wrap {width : 1960px}
header {width: 100%; height: 100px; background: lightsteelblue; text-align: center;}
.menu_PLA {font-size: 100%; text-align: center; color: gray; display: inline-block; }
.menu_UVC {font-size: 100%; text-align: center; color: gray; display: inline-block; }
.menu_FAN {font-size: 100%; text-align: center; color: black; display: inline-block; }
aside {float: left; width: 49.5%; height: 700px; text-align: center; border: 1px solid grey;}
section {float: left; width: 49.5%; height: 700px; text-align: center; border: 1px solid grey;}
footer {clear: both; width: 100%; height: 300px; background :lightslategrey}

@media (max-width : 1960px){
  #wrap {width: 100%;}
}

@media (max-width : 1220px){
  #wrap {width: 100%;}
}
@media (max-width : 768px){
  #wrap {width: 100%;}
}
@media (max-width : 480px){
  #wrap {width: 100%;}
  header {height: 50px;}
  .menu_PLA {font-size: 60%;}
  .menu_UVC {font-size: 60%;}
  .menu_FAN {font-size: 60%;}
  aside {width: 100%; height: 300px; font-size: 60%;}
  section {width: 100%; height: 300px; font-size: 60%;}
}
</style>

<style>
  .circle { 
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}
</style>


<style>
  .bars {
    width: 0px;
    margin: 0 auto;
    height: 150px;
    color: black;
    text-align: left;
    border-right: 0; border: 1px solid black;
}
</style>

</head>

<body>
  <div id="wrap">
    <header>
      <h3>
      <form action="/sub" method="post">
        <p class="menu_PLA"> PLA </p>
        <p class="menu_UVC"> UVC </p>
        <p class="menu_FAN"> FAN </p>
      </form>
      </h3>
    </header>
    <aside>  
      <br><br><br><br><br><br>
      <h3>미세먼지</h3><br>
      <h2>[<%= persent*100%>%]</h2>
      <h5> ug/mg3 </h5>
        <br><br>
      <h1>[현 상태]</h1>
    </aside>
    <section>
      <br><br><br><br><br><br>
      <div class="circle">
        <b></b>
      </div> 
    </section>
    <footer></footer>
</div>
    
  <script type="text/javascript">
      var state_P = <%= state_P%>;
      var state_U = <%= state_U%>;
        $(document).ready(function(){
          if(state_P==1){
            $(".menu_PLA").css("color", "black");
          }
          else if(state_P==0){
            $(".menu_PLA").css("color", "gray");
          }
          if(state_U==1){
            $(".menu_UVC").css("color", "black");
          }
          else if(state_U==0){
            $(".menu_UVC").css("color", "gray");
          }
        });

      $(function(){
        $('.circle').circleProgress({
          value: <%= persent %>,
          fill: {gradient: [['blue',1],['blue',1]], gradientAngle: Math.PI / 4}
          }).on('circle-animation-progress', function(event, progress, stepValue) {
            $(this).find('b').text(stepValue.toFixed(2).substr(1)*100+"%");
          });

        $(".menu_PLA").on("click", function() {
          if(state_P==0){
            $(".menu_PLA").css("color", "black");
              state_P++;
          }
          else if(state_P==1){
            $(".menu_PLA").css("color", "gray");
              state_P--;
          }
          $.ajax({
          url: '/sub',
          dataType: 'json',
          type: 'POST',
          data: {state_P:state_P, state_U:state_U},
          success: function(result) {
            if (result) {
              console.log("result")
            }
          }
        });
        });

        $(".menu_UVC").on("click", function() {
          if(state_U==0){
            $(".menu_UVC").css("color", "black");
              state_U++;
          }
          else if(state_U==1){
            $(".menu_UVC").css("color", "gray");
              state_U--;
          }
          $.ajax({
          url: '/sub',
          dataType: 'json',
          type: 'POST',
          data: {state_P:state_P, state_U:state_U},
          success: function(result) {
            if (result) {
              console.log("result")
            }
          }
        });
        });
      });
  </script>
</body>
</html>
